html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #252d4a;
  color: white;
  width: 798px;
  min-height: 360px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 60px;
}

.question-count span {
  font-size: 19px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 40px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.button {
  width: 100%;
  font-size: 23px;
  text-align: left;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  box-sizing: border-box;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 19px;
  border: 0 solid;
  border-radius: 99px;
  height: 41px;
  min-width: 41px;
  font: inherit;
  line-height: 41px;
  border: 1px solid #9c27b0;
  background: transparent;
}

.button-controller {
  width: auto;
  background-color: #9c27b0;
}

.controllers {
  display: flex;
  justify-content: space-between;
}
.correctAnswer {
  background-color: #27b067;
  border: none;
}

.incorrectAnswer {
  background-color: #f73e3ef7;
  border: none;
}
